# .NET
bin/
obj/
*.user
*.suo
*.sln.user

# Visual Studio
.vs/
.vscode/

# Node / Angular
node_modules/
dist/
*.log
npm-debug.log*

# Banco de dados local (se quiser ignorar)
*.db
Data/

# Docker
.docker/
*.env

# Outros
.DS_Store
Thumbs.db